
# MkDocs material theme
mkdocs-material

# awesome-pages plugin from PyPI
mkdocs-awesome-pages-plugin
# install prev-next plugin from GitHub archive to avoid git clone auth issues in CI
https://github.com/timvink/mkdocs-prev-next-plugin/archive/refs/heads/master.zip#egg=mkdocs-prev-next-plugin

